body, html {
    background-color: #0d1117;
    font-family: sans-serif;
	height: 95%;
	width: 95%;
}

.rak {
    position: relative;
    color: white;
    left: 10%;
    display: flex;
    width: 50%;

}

.fuggoben {    
    
    float: right;
    border: 10px solid lightblue;
    display: flex;
    padding: 4%;
	
}

.elfogadott {
    
    position: relative;
    float: right;
    border: 10px solid lightblue;
    display: flex;
    left: 40%;
    padding: 4%;
    
}

.elfogadott2 {
    
    position: relative;
    float: right;
    border: 10px solid lightblue;
    display: flex;
    left: 60%;
    padding: 4%;
    
}
.adatok {
    
    position: relative;
    left: 100%;
    border: 10px solid lightblue;
    padding: 4%;
    
}